@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    background-image: url("../image/background-login.webp");
    width: 100%;
    min-height: 100vh;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        rgba(3, 5, 94, 0.5) 0%,
        rgba(0, 150, 199, 0.5) 100%
    );
}

.content {
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 32px;
    background-color: #fff;
    border-radius: 16px;
    z-index: 1;
}
